<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @invite.host %>
</p>

<p>
  <strong>Player:</strong>
  <%= @invite.player %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
